.tabla-proveedores {
    margin-top: 20px;
}

.btn-azul-oscuro {
    background-color: #2f7cc9; 
    color: #fff; 
    border: 1px solid #001f3f;
}

.btn-azul-oscuro-claro {
    background-color: #4099f1; 
    color: #fff; 
    border: 1px solid #001f3f;
}
  
.btn-azul-oscuro:hover {
    background-color: #003366;
    color: #fff;
    border: 1px solid #003366; 
}


.table-bordered {
    border: 2px solid #001f3f; 
}
  
.table-bordered th, .table-bordered td {
    border: 2px solid #001f3f;
}

.custom-table-header {
    background-color: #366799;
    color: #fff; 
}
  
.custom-table-header th {
    border: 2px solid #06192c;
}
  
  