.custom-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.container-fluid{
    background: url('./fondo1.jpg') center center fixed;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}